<%- include('layout/layout.ejs') -%>

<div
  class="containerWholeFAQPage"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
  "
>
  <div class="FAQpageHeading">
    <h1>FAQ</h1>
  </div>
  <div class="FAQContents">
    <div class="Question">
      <p>How do i add a new missing kid?</p>
      <p>
        Go to kids page, there you will find a "Create a new post" button, click
        on it, you will be redirected to a form, you need to fill in the form,
        and then press submit, and a new missing kid submission is created
      </p>
    </div>
    <div class="Question">
      <p>How do i add a new missing elderly?</p>
      <p>
        Go to elderly page, there you will find a "Create a new post" button,
        click on it, you will be redirected to a form, you need to fill in the
        form, and then press submit, and a new missing elderly submission is
        created
      </p>
    </div>
    <div class="Question">
      <p>How do i add a new missing pet?</p>
      <p>
        Go to pets page, there you will find a "Create a new post" button, click
        on it, you will be redirected to a form, you need to fill in the form,
        and then press submit, and a new missing pets submission is created
      </p>
    </div>
    <div class="Question">
      <p>How do i add a new stolen vehicle?</p>
      <p>
        Go to vehicle page, there you will find a "Create a new post" button,
        click on it, you will be redirected to a form, you need to fill in the
        form, and then press submit, and a new stolen vehicle submission is
        created
      </p>
    </div>
    <div class="Question">
      <p>How do i add a new stolen/lost valuable?</p>
      <p>
        Go to valuable page, there you will find a "Create a new post" button,
        click on it, you will be redirected to a form, you need to fill in the
        form, and then press submit, and a new stolen/lost valuable submission
        is created
      </p>
    </div>
    <div class="Question">
      <p>How do i add a new corpse that found?</p>
      <p>
        Go to corpses page, there you will find a "Create a new post" button,
        click on it, you will be redirected to a form, you need to fill in the
        form, and then press submit, and a new corpse submission is created
      </p>
    </div>
    <div class="Question">
      <p>How do i pay you?</p>
      <p>
        You can pay through all the supported medias, you can pay us after we
        finished solving your case.
      </p>
    </div>
  </div>
</div>

<style>
  body {
    background-color: #1c1b22;
    color: white;
  }
  .Question {
    width: 800px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
  }
</style>

<%- include('partials/footer_dark.ejs') -%>
