<%- include('layout/layout.ejs') -%>
<div class="containerWholeHomePage">
  <img
    src="/images/LookOut/LookOut HeaderImage NoBG.png"
    alt=""
    class="homePageFirstSectionImage"
  />
  <div class="containerFirstSectionTitle">
    <h1 class="firstSecitonTitleH1">Look Out</h1>
    <p class="firstSectionParagraphP">
      Look Out connects users with affordable private detectives skilled in
      finding missing people, pets, vehicles, and valuables. With advanced
      technology and a network of experienced investigators, Look Out offers
      discreet solutions for locating assets or loved ones quickly and
      efficiently.
    </p>
  </div>

  <div class="containerSecondSectionKids">
    <img
      src="/images/LookOut/missing kid.png"
      alt=""
      class="homepageSecongSectionImage"
    />

    <div class="containerSecondSectionTitle">
      <h1 class="secondSectionTitle">Missing Kids</h1>
      <p class="secondSectionParagraph">
        Missing kids are a heartbreaking reality, leaving families distraught
        and communities on edge. Swift action is crucial, utilizing all
        available resources to locate and reunite them with loved ones. Every
        moment counts in the effort to bring missing children home safely.
      </p>
      <a href="/missingkids" class="secondSectionGotoButton"
        >Go to missing kids</a
      >
    </div>
  </div>

  <div class="containerThirdSectionElderly">
    <img
      src="/images/LookOut/missing old man.png"
      alt=""
      class="homepageThirdSectionImage"
    />
    <div class="containerThirdSectionTitle">
      <h1 class="thirdSectionTitle">Missing Elderly</h1>
      <p class="thirdSectionParagraph">
        The disappearance of elderly individuals is a distressing concern, often
        complicated by health issues and cognitive decline. Quick response and
        community support are vital to locating them promptly, ensuring their
        safety and well-being.
      </p>
      <a href="/missingelderly" class="thirdSectionGotoButton">Go to Elderly</a>
    </div>
  </div>

  <div class="containerThirdSectionHomePage">
    <div class="containerHomePageMissingPets home_missing_cards">
      <img
        src="/images/LookOut/missing dog.webp"
        alt=""
        class="containerHomePageMissingPetsImage"
      />

      <div class="containerHomePageMissingPetsItems">
        <h2 class="containerHomePageMissingPetsItemsTitle">Missing Pets</h2>
        <p class="containerHomePageMissingPetsItemsParagraph">
          Find your missing pets as fast as possible
        </p>
        <a
          href="/missingpets"
          class="containerHomePageMissingPetsItemsButton home_card_button"
          >Go to missing pets</a
        >
      </div>
    </div>
    <div class="containerHomePageMissingVehicle home_missing_cards">
      <img
        src="/images/LookOut/missing vehicle.jpg"
        alt=""
        class="containerHomePageMissingVehicleImage"
      />
      <div class="containerHomePageMissingPetsItems">
        <h2 class="containerHomePageMissingPetsItemsTitle">Missing Vehicles</h2>
        <p class="containerHomePageMissingPetsItemsParagraph">
          Find your missing/stolen Vehicles as fast as possible
        </p>
        <a
          href="/missingvehicle"
          class="containerHomePageMissingVehicleItemsButton home_card_button"
          >Go to missing vehicles</a
        >
      </div>
    </div>
    <div class="containerHomePageMissingValuable home_missing_cards">
      <img
        src="/images/LookOut/missing valuable.jpg"
        alt=""
        class="containerHomePageMissingValuableImage"
      />
      <div class="containerHomePageMissingPetsItems">
        <h2 class="containerHomePageMissingPetsItemsTitle">
          Missing Valuables
        </h2>
        <p class="containerHomePageMissingPetsItemsParagraph">
          Find your lost valuables as fast as possible
        </p>
        <a
          href="/missingvaluable"
          class="containerHomePageMissingValuablesItemsButton home_card_button"
          >Go to lost valuables</a
        >
      </div>
    </div>
  </div>

  <div class="containerFourthSectionHomePage"></div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  body {
    background-color: #1d1d1d;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .secondSectionGotoButton:hover {
    color: white;
    text-decoration: none;
  }
  .thirdSectionGotoButton {
    color: white;
    text-decoration: none;
  }
  .containerHomePageMissingPetsItemsButton {
    color: white;
    text-decoration: none;
  }
  .containerHomePageMissingVehicleItemsButton {
    color: white;
    text-decoration: none;
  }
  .containerHomePageMissingValuablesItemsButton:hover {
    color: white;
    text-decoration: none;
  }
  .firstSectionParagraphP {
    width: 500px;
  }
  .homePageFirstSectionImage {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, black, transparent, transparent);
    user-select: none;
  }
  .containerFirstSectionTitle {
    position: absolute;
    top: 300px;
    left: 50px;
    color: white;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
  .firstSecitonTitleH1 {
    font-size: 100px;
    text-align: center;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 5px 5px 20px #aeff00;
    transition: 0.5s;
    z-index: -1;
    user-select: none;
  }

  .firstSectionParagraphP {
    text-align: center;
    opacity: 0.5;
    text-shadow: 5px 5px 20px #3300ff;
    z-index: 100;
    user-select: none;
  }

  /* second section */

  .containerSecondSectionKids {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .homepageSecongSectionImage {
    width: 80vw;
    border-radius: 50px;
    height: 650px;
  }
  .containerSecondSectionTitle {
    position: absolute;
    width: 500px;
    color: white;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .secondSectionGotoButton {
    height: 50px;
    background-color: #f08080;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 300px;
    font-size: 25px;
    margin-top: 100px;
    transition: 0.2s;
  }
  .secondSectionGotoButton:hover {
    background-color: #ff3b38bc;
  }

  /* Third section */

  .containerThirdSectionElderly {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .homepageThirdSectionImage {
    width: 80vw;
    border-radius: 50px;
    height: 650px;
  }
  .containerThirdSectionTitle {
    position: absolute;
    width: 500px;
    color: white;
    right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .thirdSectionGotoButton {
    height: 50px;
    background-color: #a2d2ff;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 300px;
    font-size: 25px;
    margin-top: 100px;
    transition: 0.2s;
  }

  .thirdSectionGotoButton:hover {
    background-color: #3a86ffd2;
  }

  /* Third section */
  .containerThirdSectionHomePage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
  }
  /* .containerHomePageMissingPets {
    height: 500px;
    width: 350px;
    background-color: #5b5b5b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  } */
  .containerHomePageMissingPetsItems {
    height: 500px;
    width: 350px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    background-image: linear-gradient(to top, black, #ffffff00);
    color: white;
  }
  .containerHomePageMissingPetsImage {
    height: 500px;
  }
  .containerHomePageMissingPetsItemsTitle,
  .containerHomePageMissingPetsItemsParagraph {
    margin: 0;
    text-align: center;
  }

  .home_card_button {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .home_card_button:hover {
    color: #1d1d1d;
  }
  .containerHomePageMissingPetsItemsButton {
    background-color: #caffbf;
  }

  .containerHomePageMissingVehicleItemsButton {
    background-color: #e4c1f9;
  }

  .containerHomePageMissingValuablesItemsButton {
    background-color: #b8c0ff;
  }
  /* 
  .containerHomePageMissingVehicle {
    height: 500px;
    width: 350px;
    background-color: #fcbf49;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  } */
  .containerHomePageMissingVehicleImage {
    height: 500px;
  }
  /* 
  .containerHomePageMissingValuable {
    height: 500px;
    width: 350px;
    background-color: #5b5b5b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  } */
  .containerHomePageMissingValuableImage {
    height: 500px;
  }

  .home_missing_cards {
    height: 500px;
    width: 350px;
    background-color: #5b5b5b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 20px 20px 60px #191919, -20px -20px 60px #212121;
  }
</style>

<script>
  function preventBack() {
    window.history.forward();
  }

  setTimeout("preventBack()", 0);

  window.onunload = function () {
    null;
  };
</script>
<%- include('partials/footer_dark.ejs') -%>
