<%- include('layout/layout.ejs') -%>
<div
  class="containerDBTitle d-flex align-items-center justify-content-center h1"
>
  <%= body %> <%= username%>
</div>
<div
  class="containerImage"
  style="display: flex; align-items: center; justify-content: center"
>
  <img
    src="https://miro.medium.com/v2/resize:fit:999/0*Bs2bTJnHD1dAApeD.jpg"
    alt=""
    style="width: 70vw"
  />
</div>

<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  "
>
  <h1>Welcome to the Look Out</h1>
  <p style="width: 50vw">
    Look Out is a vital service dedicated to locating missing individuals,
    including children, seniors, and pets. Additionally, it assists in
    recovering lost or stolen vehicles and possessions. With its comprehensive
    approach, Look Out offers peace of mind to those in distress, ensuring swift
    reunions and recoveries.
  </p>
</div>
