<footer
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px dashed rgba(0, 0, 0, 0.163);
    margin-top: 50px;
    /* background-color: white; */
    color: blak;
  "
>
  <div
    class="footer_dark_whole"
    style="
      display: flex;
      align-items: start;
      justify-content: center;
      height: 400px;
      padding-top: 50px;
    "
  >
    <p style="width: 700px; margin-top: 80px; padding: 0 150px">
      Look Out is a comprehensive service dedicated to assisting in the location
      of missing individuals, including children, elders, pets, and lost or
      stolen vehicles and valuables. Additionally, Look Out offers services for
      the dignified display and identification of unidentified deceased persons.
    </p>

    <div
      class="footer_dark_feilds"
      style="
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        margin-left: 50px;
        gap: 10px;
      "
    >
      <h1 style="font-size: 13px; opacity: 0.3">Fields</h1>
      <a class="footer_dark_links" href="/missingkids">Kids</a>
      <a class="footer_dark_links" href="/missingelderly">Elderly</a>
      <a class="footer_dark_links" href="/missingpets">Pets</a>
      <a class="footer_dark_links" href="/missingvehicle">Vehicles</a>
      <a class="footer_dark_links" href="/corpses">Dead bodies</a>
      <a class="footer_dark_links" href="/missingvaluable">Valuables</a>
    </div>
    <div
      class="footer_dark_socials"
      style="
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        margin-left: 50px;
        gap: 10px;
      "
    >
      <h1 style="font-size: 13px; opacity: 0.3">Socials</h1>
      <a
        class="footer_dark_links"
        href="https://www.facebook.com/profile.php?id=100016908308776"
        >Facebook</a
      >
      <a class="footer_dark_links" href="https://twitter.com/alan_hallow/"
        >Twitter</a
      >
      <a class="footer_dark_links" href="https://www.instagram.com/alan.hallow/"
        >Instagram</a
      >
      <a
        class="footer_dark_links"
        href="https://www.linkedin.com/in/alanjohnson141?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        >LinkedIn</a
      >
    </div>
  </div>

  <div
    class="footer_dark_bottom"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      margin-bottom: 30px;
      width: 700px;
      padding: 10px 0;
      border-radius: 50px;
    "
  >
    <a class="footer_dark_links" href="/FAQ"><p>FAQ</p></a>
    <a href="/" style="color: #000"
      ><h1
        style="
          color: #000;
          font-family: 'Anton', sans-serif;
          font-weight: 400;
          font-style: normal;
        "
      >
        Look Out
      </h1></a
    >
    <a class="footer_dark_links" href="/aboutme"><p>About me</p></a>
  </div>
</footer>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");

  .footer_dark_links {
    opacity: 0.4;
    color: black;
    font-size: 16px;
    transition: 0.2s;
    padding: 0 1px;
    border-bottom: 2px solid transparent;
    font-weight: 400;
  }

  .footer_dark_links:hover {
    color: black;
    opacity: 1;
    border-bottom: 2px solid black;
  }
</style>
