<%- include('../layout/layout.ejs') -%>

<div class="containerForAllContentsFromTheFormPage">
  <div class="containerForMissingPersonFormHeading">
    <h2 class="missingPersonHeading">Report a Missing Person</h2>
    <h5 class="missingPersonHeadingTwo">Before you start</h5>
    <p class="missingPersonParagraph">
      This form is for reporting missing kids. Please use it for the intended
      purpose only
    </p>
  </div>

  <section>
    <div class="formContainer">
      <form
        action="/missingpets/missingpetspostrequest"
        method="POST"
        enctype="multipart/form-data"
      >
        <div
          class="containerForFormData"
          style="display: flex; flex-direction: column"
        >
          <div class="containerForImageandLabel">
            <img
              class="displayImageContainer"
              id="output"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqpH5CFWOqOAXzCxS8VH-hQWbypepc6afzP0D_pwAOEw&s"
            />
            <label for="image" class="labelOfImage">Add an image</label>
            <input
              type="file"
              id="image"
              name="image"
              class="inputFile"
              onchange="loadFile(event)"
            />
          </div>

          <label for="name">Name</label>
          <input
            class="inputText"
            type="text"
            name="name"
            placeholder="Enter name"
          />

          <label for="gender">Gender</label>
          <select class="selector" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

          <label for="age">Age</label>
          <input
            class="inputNumber"
            min="0"
            max="30"
            type="number"
            name="age"
            placeholder="Enter age"
            required
          />
          <label for="breed">Breed</label>
          <input
            class="inputText"
            name="breed"
            type="text"
            placeholder="Enter breed"
          />
          <label for="color">Color</label>
          <input
            class="inputText"
            name="color"
            type="text"
            placeholder="Enter color"
          />

          <label for="date">Date last seen</label>
          <input class="inputDate" name="date" type="date" />

          <label for="time">Time last seen</label>
          <input class="inputTime" name="time" type="time" />

          <label for="place">Place last seen</label>
          <input
            class="inputText"
            name="place"
            type="text"
            placeholder="Enter place"
          />

          <label for="residence">Residence</label>
          <input
            class="inputText"
            name="residence"
            type="text"
            placeholder="Enter residence"
          />
          <label for="height">Height</label>
          <input
            class="inputText"
            name="height"
            type="text"
            placeholder="Enter height"
          />

          <label for="reward">Reward</label>
          <input
            class="inputNumber"
            name="reward"
            type="number"
            placeholder="Enter reward amout"
            min="5000"
          />

          <label for="additional">Additional information</label>
          <textarea
            class="textArea"
            name="additional"
            id="additional"
            cols="30"
            rows="10"
            placeholder="Enter additional information"
          ></textarea>

          <a class="cancelButton" href="/missingelderly">Cancel</a>
          <button type="submit" name="submit" class="submitButton">
            Submit
          </button>
        </div>
      </form>
    </div>
  </section>
</div>

<style>
  .containerForAllContentsFromTheFormPage {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .containerForMissingPersonFormHeading {
    margin-top: 100px;
    width: 440px;
  }
  .missingPersonHeading {
    display: flex;
    align-self: flex-start;
  }
  .missingPersonHeadingTwo {
    display: flex;
    align-self: flex-start;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #343434;
  }
  .missingPersonParagraph {
    font-size: 14px;
    font-weight: 600;
    color: #5e5e5e;
    padding: 0;
    margin: 5px 0;
  }
  .formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerForImageandLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .displayImageContainer {
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: solid 2px rgb(164, 164, 164);
    margin-top: 50px;
  }
  label {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .inputFile {
    display: none;
  }
  .labelOfImage {
    cursor: pointer;
    color: #007aff;
  }
  .labelOfImage:hover {
    color: #005bbb;
    text-decoration: underline;
  }

  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  input[type="date"]:focus,
  input[type="time"]:focus {
    border: 3px solid #4cd964;
    outline: none;
  }
  .inputText {
    height: 50px;
    width: 400px;
    border-radius: 8px;
    border: solid 2px rgb(150, 150, 150);
    padding: 0 10px;
    font-size: 15px;
    font-family: ".SFNSDisplay-Regular", sans-serif;
    font-weight: 600;
  }
  .inputDate {
    height: 50px;
    width: 400px;
    border-radius: 8px;
    border: solid 2px rgb(150, 150, 150);
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: ".SFNSDisplay-Regular", sans-serif;
  }
  .inputTime {
    height: 50px;
    width: 400px;
    border-radius: 8px;
    border: solid 2px rgb(150, 150, 150);
    font-size: 15px;
    padding: 0 10px;
    font-weight: 600;
    font-family: ".SFNSDisplay-Regular", sans-serif;
  }
  .selector {
    height: 55px;
    width: 400px;
    border-radius: 8px;
    border: solid 2px rgb(150, 150, 150);
    padding: 0 10px;
    font-weight: 600;
    background-color: #ffffff;
    font-size: 15px;
    font-family: ".SFNSDisplay-Regular", sans-serif;
    color: rgb(0, 0, 0);
  }
  .selector:focus {
    border: 3px solid #4cd964;
  }
  .inputNumber {
    height: 50px;
    width: 400px;
    border-radius: 8px;
    border: solid 2px rgb(150, 150, 150);
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: ".SFNSDisplay-Regular", sans-serif;
  }
  .textArea {
    height: 150px;
    width: 400px;
    font-size: 15px;
    border-radius: 8px;
    border: solid 2px rgb(150, 150, 150);
    padding: 10px 10px;
    font-weight: 600;
    font-family: ".SFNSDisplay-Regular", sans-serif;
    resize: vertical;
  }
  .cancelButton {
    height: 40px;
    width: 425px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #9f9f9f;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 0;
  }
  .submitButton {
    height: 40px;
    width: 425px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #007aff;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .submitButton:hover {
    background-color: #005fc5;
  }
</style>

<script>
  var loadFile = function (event) {
    var image = document.getElementById("output");
    image.src = URL.createObjectURL(event.target.files[0]);
  };
</script>

<%- include('../partials/footer.ejs') -%>
